In [ ]:
'''
This Model will help us to find out wheather we sud provide loan or not.

'''

In [ ]:
# Data analysis Project.
# Step1- Read the Loan Prediction Dataset.csv
# https://github.com/sameerCoder/DATA_ANALYST_DATASETS/blob/main/Loan%20Prediction%20Dataset.csv

In [ ]:
'''
Reading the file using python code.
Data Cleaning
Data Manupulation
Data Visulization
'''

In [ ]:
# Write code to print the first 10 rows of data.

In [ ]:
# Write code to print count, mean, std, 25% , 50%, 75% and max

In [ ]:
# Print all the columns name with there datatype.

In [ ]:
# PreProcessing The Data

In [ ]:
# print all columns and number of rows having nan value.

In [ ]:
# create a new column name - NEWCOL1 having data copy of first column of dataset file.

In [ ]:
# IN NEWCOL1 replace the row number 10 to 50 with nan value.

In [ ]:
# Fill the nan value of numerical column with there mean.

In [ ]:
# Fill the nan value of non-numerical column with string "DATA MISSING" OR MODE.

In [ ]:
# Check all nan values has been removed or not

In [ ]:
# DATA Visulization

In [ ]:
# plot countplot of Gender column

In [ ]:
# plot - do countplot of Married column

In [ ]:
# plot - do countplot of Dependent column

In [ ]:
# plot - do countplot of Education column

In [ ]:
# plot - do countplot of selfemployed column

In [ ]:
# plot - do countplot of Loanstatus column

In [ ]:
# plot - do distplot of ApplicantIncome column

In [ ]:
# ApplicantIncome column is not appearing good so 
# we will do log normalization
# write code to do the log of ApplicantIncome column.

In [ ]:
# now again do distplot of ApplicatnIncome column.
# write the commment now how the plot appear after log

In [ ]:
# Distplot loanAmount
# log the loanAmount
# Distplot loanAmount

In [ ]:
# Distplot Loan_Amount_Term
# log the Loan_Amount_Term
# Distplot Loan_Amount_Term

In [ ]:
# Create new Total_Income column= ApplicantIncome , CoapplicantIncome

In [ ]:
# Create ApplicantIncomeLog column = value log of ApplicantIncome

In [ ]:
# Create CoaplicantIncomeLog column = value log of CoaplicantIncome

In [ ]:
# plot displot of ApplicationIncomeLog
# plot displot of CoapplicantIncomeLog